$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;

.p-component {
  font-size: 1rem;
  font-weight: normal;
}

.p-component-overlay {
  background-color: var(--maskbg);
  transition-duration: 0.2s;
}

.p-disabled,
.p-component:disabled {
  opacity: 0.6;
  background: #e2e8f0;
  color: gray;
  border: none;
}

.p-error {
  color: #e24c4c;
}

.p-text-secondary {
  color: #71717a;
}

.pi {
  font-size: 1rem;
}

.p-link {
  font-size: 1rem;
  border-radius: 0.375rem;
}
.p-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px var(--indigo-500);
}

.p-component-overlay-enter {
  animation: p-component-overlay-enter-animation 150ms forwards;
}

.p-component-overlay-leave {
  animation: p-component-overlay-leave-animation 150ms forwards;
}

@keyframes p-component-overlay-enter-animation {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--maskbg);
  }
}
@keyframes p-component-overlay-leave-animation {
  from {
    background-color: var(--maskbg);
  }
  to {
    background-color: transparent;
  }
}
