.p-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--surface-a);
  // background: var(--primary-color);
  background: #7F2D48;
  border: 1px solid #7F2D48;
  padding: var(--inline-spacing-larger) 1rem;
  margin: 0 8px;
  transition: none;
  border-radius: var(--border-radius);
}
.p-button:enabled:hover {
  background: var(--primary-color-hover);
  color: var(--surface-a);
  border-color: var(--primary-color-hover);
}
.p-button:enabled:active {
  background: #7F2D48;
  color: var(--surface-a);
  border-color: #7F2D48;
}
.p-button.p-button-outlined {
  background-color: transparent;
  color: #7F2D48;
  border: 1px solid;
}
.p-button.p-button-outlined:enabled:hover {
  background: rgba(79, 70, 229, 0.04);
  color: #7F2D48;
  border: 1px solid;
}
.p-button.p-button-outlined:enabled:active {
  background: rgba(79, 70, 229, 0.16);
  color: #7F2D48;
  border: 1px solid;
}
.p-button.p-button-outlined.p-button-plain {
  color: var(--text-color-secondary);
  border-color: var(--text-color-secondary);
}
.p-button.p-button-outlined.p-button-plain:enabled:hover {
  background: var(--surface-c);
  color: var(--text-color-secondary);
}
.p-button.p-button-outlined.p-button-plain:enabled:active {
  background: var(--surface-d);
  color: var(--text-color-secondary);
}
.p-button.p-button-text {
  background-color: transparent;
  color: #7F2D48;
  border-color: transparent;
}
.p-button.p-button-text:enabled:hover {
  background: rgba(79, 70, 229, 0.04);
  color: #7F2D48;
  border-color: transparent;
}
.p-button.p-button-text:enabled:active {
  background: rgba(79, 70, 229, 0.16);
  color: #7F2D48;
  border-color: transparent;
}
.p-button.p-button-text.p-button-plain {
  color: var(--text-color-secondary);
}
.p-button.p-button-text.p-button-plain:enabled:hover {
  background: var(--surface-c);
  color: var(--text-color-secondary);
}
.p-button.p-button-text.p-button-plain:enabled:active {
  background: var(--surface-d);
  color: var(--text-color-secondary);
}
.p-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px var(--indigo-500);
}
.p-button .p-button-label {
  transition-duration: 0.2s;
}
.p-button .p-button-icon-left {
  margin-right: var(--inline-spacing);
}
.p-button .p-button-icon-right {
  margin-left: var(--inline-spacing);
}
.p-button .p-button-icon-bottom {
  margin-top: var(--inline-spacing);
}
.p-button .p-button-icon-top {
  margin-bottom: var(--inline-spacing);
}
.p-button .p-badge {
  margin-left: var(--inline-spacing);
  min-width: 1rem;
  height: 1rem;
  line-height: 1rem;
  color: #7F2D48;
  background-color: var(--surface-a);
}
.p-button.p-button-raised {
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.p-button.p-button-rounded {
  border-radius: 2rem;
}
.p-button.p-button-icon-only {
  width: 3rem;
  padding: var(--inline-spacing-larger) 0;
}
.p-button.p-button-icon-only .p-button-icon-left,
.p-button.p-button-icon-only .p-button-icon-right {
  margin: 0;
}
.p-button.p-button-icon-only.p-button-rounded {
  border-radius: 50%;
  height: 3rem;
}
.p-button.p-button-sm {
  font-size: 0.875rem;
  padding: 0.65625rem 0.875rem;
}
.p-button.p-button-sm .p-button-icon {
  font-size: 0.875rem;
}
.p-button.p-button-lg {
  font-size: 1.25rem;
  padding: 0.9375rem 1.25rem;
}
.p-button.p-button-lg .p-button-icon {
  font-size: 1.25rem;
}
.p-button.p-button-loading-label-only .p-button-label {
  margin-left: var(--inline-spacing);
}
.p-button.p-button-loading-label-only .p-button-loading-icon {
  margin-right: 0;
}

.p-fluid .p-button {
  width: 100%;
}
.p-fluid .p-button-icon-only {
  width: 3rem;
}
.p-fluid .p-buttonset {
  display: flex;
}
.p-fluid .p-buttonset .p-button {
  flex: 1;
}
