.p-cascadeselect {
  background: var(--surface-a);
  border: 1px solid var(--surface-300);
  transition: none;
  border-radius: var(--border-radius);
}
.p-cascadeselect:not(.p-disabled):hover {
  border-color: var(--surface-300);
}
.p-cascadeselect:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px var(--indigo-500);
  border-color: var(--primary-color);
}
.p-cascadeselect .p-cascadeselect-label {
  background: transparent;
  border: 0 none;
  padding: var(--inline-spacing-larger) var(--inline-spacing-larger);
}
.p-cascadeselect .p-cascadeselect-label.p-placeholder {
  color: var(--text-color-secondary);
}
.p-cascadeselect .p-cascadeselect-label:enabled:focus {
  outline: 0 none;
  box-shadow: none;
}
.p-cascadeselect .p-cascadeselect-trigger {
  background: transparent;
  color: var(--text-color-secondary);
  width: 3rem;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.p-cascadeselect.p-invalid.p-component {
  border-color: var(--red-100);
}

.p-cascadeselect-panel {
  background: var(--surface-a);
  color: var(--text-color);
  border: 0 none;
  border-radius: var(--border-radius);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.p-cascadeselect-panel .p-cascadeselect-items {
  padding: 0.25rem 0;
}
.p-cascadeselect-panel .p-cascadeselect-items .p-cascadeselect-item {
  margin: 0;
  border: 0 none;
  color: var(--text-color);
  background: transparent;
  transition: none;
  border-radius: 0;
}
.p-cascadeselect-panel .p-cascadeselect-items .p-cascadeselect-item.p-highlight {
  color: var(--indigo-800);
  background: var(--gray-200);
}
.p-cascadeselect-panel .p-cascadeselect-items .p-cascadeselect-item.p-highlight.p-focus {
  background: var(--surface-200);
}
.p-cascadeselect-panel .p-cascadeselect-items .p-cascadeselect-item:not(.p-highlight):not(.p-disabled).p-focus {
  color: var(--surface-900);
  background: var(--surface-d);
}
.p-cascadeselect-panel .p-cascadeselect-items .p-cascadeselect-item:not(.p-highlight):not(.p-disabled):hover {
  color: var(--surface-900);
  background: var(--surface-c);
}
.p-cascadeselect-panel .p-cascadeselect-items .p-cascadeselect-item .p-cascadeselect-item-content {
  padding: var(--inline-spacing-larger) 1rem;
}
.p-cascadeselect-panel .p-cascadeselect-items .p-cascadeselect-item .p-cascadeselect-group-icon {
  font-size: 0.875rem;
}

.p-input-filled .p-cascadeselect {
  background: var(--surface-b);
}
.p-input-filled .p-cascadeselect:not(.p-disabled):hover {
  background-color: var(--surface-b);
}
.p-input-filled .p-cascadeselect:not(.p-disabled).p-focus {
  background-color: var(--surface-a);
}