.p-chip {
  background-color: var(--surface-d);
  color: var(--text-color);
  border-radius: 16px;
  padding: 0 var(--inline-spacing-larger);

  .p-chip-text {
    line-height: 1.5;
  }
  .p-chip-icon {
    margin-right: var(--inline-spacing);
  }
  img {
    width: 2.25rem;
    height: 2.25rem;
    margin-left: -var(--inline-spacing-larger);
    margin-right: var(--inline-spacing);
  }
  .p-chip-remove-icon {
    margin-left: var(--inline-spacing);
    border-radius: var(--border-radius);
    transition: none;
    &:focus {
      outline: 0 none;
      outline-offset: 0;
      box-shadow: 0 0 0 1px var(--indigo-500);
    }
  }
}

.p-chips {
  .p-chips-multiple-container {
    padding: var(--border-radius) var(--inline-spacing-larger);
  }
  .p-chips-multiple-container .p-chips-token {
    padding: var(--border-radius) var(--inline-spacing-larger);
    margin-right: var(--inline-spacing);
    background: var(--surface-d);
    color: var(--text-color);
    border-radius: 16px;
  }
  .p-chips-multiple-container .p-chips-token.p-focus {
    background: var(--surface-300);
    color: var(--text-color);
  }
  .p-chips-multiple-container .p-chips-token .p-chips-token-icon {
    margin-left: var(--inline-spacing);
  }
  .p-chips-multiple-container .p-chips-input-token {
    padding: var(--border-radius) 0;
  }
  .p-chips-multiple-container .p-chips-input-token input {
    font-size: 1rem;
    color: var(--text-color);
    padding: 0;
    margin: 0;
  }

  &.p-invalid.p-component > .p-inputtext {
    border-color: var(--red-100);
  }
}

// Not disabled
.p-chips:not(.p-disabled):hover .p-chips-multiple-container {
  border-color: var(--surface-300);
}
.p-chips:not(.p-disabled).p-focus .p-chips-multiple-container {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px var(--indigo-500);
  border-color: var(--primary-color);
}
