.p-datatable .p-paginator-top {
  border-width: 0 0 1px 0;
  border-radius: 0;
  justify-content: center;
  display: flex;
}
.p-datatable .p-paginator-bottom {
  border-width: 0 0 1px 0;
  border-radius: 0;
}
.p-datatable .p-datatable-header {
  background: var(--surface-b);
  color: var(--text-color);
  border: 1px solid var(--surface-c);
  border-width: 1px 0 1px 0;
  padding: 1.25rem 1.25rem;
  font-weight: 600;
}
.p-datatable .p-datatable-footer {
  background: var(--surface-b);
  color: var(--text-color);
  border: 1px solid var(--surface-c);
  border-width: 0 0 1px 0;
  padding: var(--inline-spacing-larger) 1.5rem;
  font-weight: 600;
}
.p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: var(--inline-spacing-larger) 0.5rem;
  border: 1px solid var(--surface-c);
  border-width: 0 0 1px 0;
  font-weight: 500;
  color: var(--surface-500);
  background: var(--surface-b);
  transition: none;
}
.p-datatable .p-datatable-tfoot > tr > td {
  text-align: left;
  padding: 1rem 1rem;
  border: 1px solid var(--surface-c);
  border-width: 0 0 1px 0;
  font-weight: 600;
  color: var(--text-color);
  background: var(--surface-b);
}
.p-datatable .p-sortable-column .p-sortable-column-icon {
  color: var(--text-color-secondary);
  margin-left: var(--inline-spacing);
}
.p-datatable .p-sortable-column .p-sortable-column-badge {
  border-radius: 50%;
  height: 1.143rem;
  min-width: 1.143rem;
  line-height: 1.143rem;
  color: var(--indigo-800);
  background: var(--gray-200);
  margin-left: var(--inline-spacing);
}
.p-datatable .p-sortable-column:not(.p-highlight):hover {
  background: var(--surface-c);
  color: var(--text-color);
}
.p-datatable .p-sortable-column:not(.p-highlight):hover .p-sortable-column-icon {
  color: var(--text-color-secondary);
}
.p-datatable .p-sortable-column.p-highlight {
  background: var(--surface-b);
  color: var(--primary-color);
}
.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: var(--primary-color);
}
.p-datatable .p-sortable-column.p-highlight:hover {
  background: var(--surface-c);
  color: var(--primary-color);
}
.p-datatable .p-sortable-column.p-highlight:hover .p-sortable-column-icon {
  color: var(--primary-color);
}
.p-datatable .p-sortable-column:focus {
  box-shadow: inset 0 0 0 0.15rem var(--indigo-500);
  outline: 0 none;
}
.p-datatable .p-datatable-tbody > tr {
  background: var(--surface-a);
  color: var(--text-color);
  transition: none;
}

.p-datatable .p-datatable-tbody > tr > td .p-row-toggler,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-init,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-cancel {
  width: 1.7rem;
  height: 1.7rem;
  color: var(--text-color-secondary);
  border: 0 none;
  background: var(--surface-400);
  border-radius: 50%;
  transition: none;
}
.p-datatable .p-datatable-tbody > tr > td .p-row-toggler:enabled:hover,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-init:enabled:hover,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save:enabled:hover,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-cancel:enabled:hover {
  color: var(--surface-900);
  border-color: transparent;
  background: var(--surface-700);
}
.p-datatable .p-datatable-tbody > tr > td .p-row-toggler:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-init:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-cancel:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px var(--indigo-500);
}
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save {
  margin-right: var(--inline-spacing);
}
.p-datatable .p-datatable-tbody > tr > td > .p-column-title {
  font-weight: 500;
}
.p-datatable .p-datatable-tbody > tr:focus {
  outline: 0.15rem solid var(--indigo-500);
  outline-offset: -0.15rem;
}
.p-datatable .p-datatable-tbody > tr.p-highlight {
  background: var(--gray-200);
  color: var(--indigo-800);
}
.p-datatable .p-datatable-tbody > tr.p-datatable-dragpoint-top > td {
  box-shadow: inset 0 2px 0 0 var(--gray-200);
}
.p-datatable .p-datatable-tbody > tr.p-datatable-dragpoint-bottom > td {
  box-shadow: inset 0 -2px 0 0 var(--gray-200);
}
.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover {
  background: var(--surface-c);
  color: var(--text-color);
}
.p-datatable .p-column-resizer-helper {
  background: var(--primary-color);
}
.p-datatable .p-datatable-scrollable-header,
.p-datatable .p-datatable-scrollable-footer {
  background: var(--surface-b);
}
.p-datatable.p-datatable-scrollable > .p-datatable-wrapper > .p-datatable-table > .p-datatable-thead,
.p-datatable.p-datatable-scrollable > .p-datatable-wrapper > .p-datatable-table > .p-datatable-tfoot,
.p-datatable.p-datatable-scrollable
  > .p-datatable-wrapper
  > .p-virtualscroller
  > .p-datatable-table
  > .p-datatable-thead,
.p-datatable.p-datatable-scrollable
  > .p-datatable-wrapper
  > .p-virtualscroller
  > .p-datatable-table
  > .p-datatable-tfoot {
  background-color: var(--surface-b);
}
.p-datatable .p-datatable-loading-icon {
  font-size: 2rem;
}
.p-datatable.p-datatable-gridlines .p-datatable-header {
  border-width: 1px 1px 0 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-footer {
  border-width: 0 1px 1px 1px;
}
.p-datatable.p-datatable-gridlines .p-paginator-top {
  border-width: 0 1px 0 1px;
}
.p-datatable.p-datatable-gridlines .p-paginator-bottom {
  border-width: 0 1px 1px 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
  border-width: 1px 1px 1px 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td {
  border-width: 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-tfoot > tr > td {
  border-width: 1px;
}
.p-datatable.p-datatable-gridlines.p-datatable-scrollable .p-datatable-thead > tr > th + th {
  border-left-width: 0;
}
.p-datatable.p-datatable-gridlines.p-datatable-scrollable .p-datatable-tbody > tr > td + td {
  border-left-width: 0;
}
.p-datatable.p-datatable-gridlines.p-datatable-scrollable .p-datatable-tbody > tr + tr > td,
.p-datatable.p-datatable-gridlines.p-datatable-scrollable .p-datatable-tbody > tr:first-child > td {
  border-top-width: 0;
  padding-left: 0.5rem;
}
.p-datatable.p-datatable-gridlines.p-datatable-scrollable .p-datatable-tfoot > tr > td + td {
  border-left-width: 0;
}
.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
  background: var(--surface-b);
}
.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even).p-highlight {
  background: var(--gray-200);
  color: var(--indigo-800);
}
.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even).p-highlight .p-row-toggler {
  color: var(--indigo-800);
}
.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even).p-highlight .p-row-toggler:hover {
  color: var(--indigo-800);
}
.p-datatable.p-datatable-sm .p-datatable-header {
  padding: 0.225rem 0.225rem;
}
.p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
  padding: var(--border-radius) var(--inline-spacing-larger);
}
.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
  padding: var(--inline-spacing) var(--inline-spacing-larger);
}
.p-datatable.p-datatable-sm .p-datatable-tfoot > tr > td {
  padding: var(--border-radius) var(--inline-spacing-larger);
}
.p-datatable.p-datatable-sm .p-datatable-footer {
  padding: var(--border-radius) var(--inline-spacing-larger);
}
.p-datatable.p-datatable-lg .p-datatable-header {
  padding: 1.5625rem 1.5625rem;
}
.p-datatable.p-datatable-lg .p-datatable-thead > tr > th {
  padding: 0.9375rem 1.875rem;
}
.p-datatable.p-datatable-lg .p-datatable-tbody > tr > td {
  padding: 1.25rem 1.875rem;
}
.p-datatable.p-datatable-lg .p-datatable-tfoot > tr > td {
  padding: 0.9375rem 1.875rem;
}
.p-datatable.p-datatable-lg .p-datatable-footer {
  padding: 0.9375rem 1.875rem;
}
