.p-calendar.p-invalid.p-component > .p-inputtext {
  border-color: var(--red-100);
}

.p-datepicker {
  padding: var(--inline-spacing);
  background: var(--surface-a);
  color: var(--text-color);
  border: 1px solid var(--surface-300);
  border-radius: var(--border-radius);
}
.p-datepicker:not(.p-datepicker-inline) {
  background: var(--surface-a);
  border: 0 none;
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.p-datepicker:not(.p-datepicker-inline) .p-datepicker-header {
  background: var(--surface-a);
}
.p-datepicker .p-datepicker-header {
  padding: var(--inline-spacing);
  color: var(--text-color);
  background: var(--surface-a);
  font-weight: 600;
  margin: 0;
  border-bottom: 1px solid var(--surface-d);
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}
.p-datepicker .p-datepicker-header .p-datepicker-prev,
.p-datepicker .p-datepicker-header .p-datepicker-next {
  width: 2rem;
  height: 2rem;
  color: var(--text-color-secondary);
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition: none;
}
.p-datepicker .p-datepicker-header .p-datepicker-prev:enabled:hover,
.p-datepicker .p-datepicker-header .p-datepicker-next:enabled:hover {
  color: var(--surface-900);
  border-color: transparent;
  background: var(--surface-c);
}
.p-datepicker .p-datepicker-header .p-datepicker-prev:focus,
.p-datepicker .p-datepicker-header .p-datepicker-next:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px var(--indigo-500);
}
.p-datepicker .p-datepicker-header .p-datepicker-title {
  line-height: 2rem;
}
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year,
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
  color: var(--text-color);
  transition: none;
  font-weight: 600;
  padding: var(--inline-spacing);
}
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year:enabled:hover,
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month:enabled:hover {
  color: var(--primary-color);
}
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
  margin-right: var(--inline-spacing);
}
.p-datepicker table {
  font-size: 1rem;
  margin: var(--inline-spacing) 0;
}
.p-datepicker table th {
  padding: var(--inline-spacing);
}
.p-datepicker table th > span {
  width: 2.5rem;
  height: 2.5rem;
}
.p-datepicker table td {
  padding: var(--inline-spacing);
}
.p-datepicker table td > span {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  transition: none;
  border: 1px solid transparent;
}
.p-datepicker table td > span.p-highlight {
  color: var(--indigo-800);
  background: var(--gray-200);
}
.p-datepicker table td > span:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px var(--indigo-500);
}
.p-datepicker table td.p-datepicker-today > span {
  background: var(--surface-300);
  color: var(--text-color);
  border-color: transparent;
}
.p-datepicker table td.p-datepicker-today > span.p-highlight {
  color: var(--indigo-800);
  background: var(--gray-200);
}
.p-datepicker .p-datepicker-buttonbar {
  padding: 1rem 0;
  border-top: 1px solid var(--surface-c);
}
.p-datepicker .p-datepicker-buttonbar .p-button {
  width: auto;
}
.p-datepicker .p-timepicker {
  border-top: 1px solid var(--surface-c);
  padding: var(--inline-spacing);
}
.p-datepicker .p-timepicker button {
  width: 2rem;
  height: 2rem;
  color: var(--text-color-secondary);
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition: none;
}
.p-datepicker .p-timepicker button:enabled:hover {
  color: var(--surface-900);
  border-color: transparent;
  background: var(--surface-c);
}
.p-datepicker .p-timepicker button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px var(--indigo-500);
}
.p-datepicker .p-timepicker button:last-child {
  margin-top: 0.2em;
}
.p-datepicker .p-timepicker span {
  font-size: 1.25rem;
}
.p-datepicker .p-timepicker > div {
  padding: 0 var(--inline-spacing);
}
.p-datepicker.p-datepicker-timeonly .p-timepicker {
  border-top: 0 none;
}
.p-datepicker .p-monthpicker {
  margin: var(--inline-spacing) 0;
}
.p-datepicker .p-monthpicker .p-monthpicker-month {
  padding: var(--inline-spacing);
  transition: none;
  border-radius: var(--border-radius);
}
.p-datepicker .p-monthpicker .p-monthpicker-month.p-highlight {
  color: var(--indigo-800);
  background: var(--gray-200);
}
.p-datepicker .p-yearpicker {
  margin: var(--inline-spacing) 0;
}
.p-datepicker .p-yearpicker .p-yearpicker-year {
  padding: var(--inline-spacing);
  transition: none;
  border-radius: var(--border-radius);
}
.p-datepicker .p-yearpicker .p-yearpicker-year.p-highlight {
  color: var(--indigo-800);
  background: var(--gray-200);
}
.p-datepicker.p-datepicker-multiple-month .p-datepicker-group {
  border-left: 1px solid var(--surface-c);
  padding-right: var(--inline-spacing);
  padding-left: var(--inline-spacing);
  padding-top: 0;
  padding-bottom: 0;
}
.p-datepicker.p-datepicker-multiple-month .p-datepicker-group:first-child {
  padding-left: 0;
  border-left: 0 none;
}
.p-datepicker.p-datepicker-multiple-month .p-datepicker-group:last-child {
  padding-right: 0;
}
.p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):hover {
  background: var(--surface-c);
}
.p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px var(--indigo-500);
}
.p-datepicker:not(.p-disabled) .p-monthpicker .p-monthpicker-month:not(.p-disabled):not(.p-highlight):hover {
  background: var(--surface-c);
}
.p-datepicker:not(.p-disabled) .p-monthpicker .p-monthpicker-month:not(.p-disabled):focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px var(--indigo-500);
}
.p-datepicker:not(.p-disabled) .p-yearpicker .p-yearpicker-year:not(.p-disabled):not(.p-highlight):hover {
  background: var(--surface-c);
}
.p-datepicker:not(.p-disabled) .p-yearpicker .p-yearpicker-year:not(.p-disabled):focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px var(--indigo-500);
}

@media screen and (max-width: 769px) {
  .p-datepicker table th,
  .p-datepicker table td {
    padding: 0;
  }
}
