.p-dropdown {
  background: var(--surface-a);
  border: 1px solid var(--surface-300);
  transition: none;
  border-radius: var(--border-radius);
}
.p-dropdown:not(.p-disabled):hover {
  border-color: var(--surface-300);
}
.p-dropdown:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px var(--indigo-500);
  border-color: var(--primary-color);
}
.p-dropdown.p-dropdown-clearable .p-dropdown-label {
  padding-right: 1.75rem;
}
.p-dropdown .p-dropdown-label {
  background: transparent;
  border: 0 none;
}
.p-dropdown .p-dropdown-label.p-placeholder {
  color: var(--text-color-secondary);
}
.p-dropdown .p-dropdown-label:focus,
.p-dropdown .p-dropdown-label:enabled:focus {
  outline: 0 none;
  box-shadow: none;
}
.p-dropdown .p-dropdown-trigger {
  background: transparent;
  color: var(--text-color-secondary);
  width: 1.7rem;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.p-dropdown .p-dropdown-clear-icon {
  color: var(--text-color-secondary);
  right: 3rem;
}
.p-dropdown.p-invalid.p-component {
  border-color: var(--red-100);
}

.p-dropdown-panel {
  background: var(--surface-a);
  color: var(--text-color);
  border: 0 none;
  border-radius: var(--border-radius);
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.p-dropdown-panel .p-dropdown-header {
  padding: var(--inline-spacing) var(--inline-spacing-larger);
  border-bottom: 0 none;
  color: var(--text-color);
  background: var(--surface-b);
  margin: 0;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}
.p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
  padding-right: 1.75rem;
  margin-right: -1.75rem;
}
.p-dropdown-panel .p-dropdown-header .p-dropdown-filter-icon {
  right: var(--inline-spacing-larger);
  color: var(--text-color-secondary);
}
.p-dropdown-panel .p-dropdown-items {
  padding: 0.25rem 0;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  margin: 0;
  padding: var(--inline-spacing-larger) 1rem;
  border: 0 none;
  color: var(--text-color);
  background: transparent;
  transition: none;
  border-radius: 0;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: var(--indigo-800);
  background: var(--gray-200);
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
  background: var(--surface-200);
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus {
  color: var(--surface-900);
  background: var(--surface-d);
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  color: var(--surface-900);
  background: var(--surface-c);
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item-group {
  margin: 0;
  padding: var(--inline-spacing-larger) 1rem;
  color: var(--text-color);
  background: var(--surface-a);
  font-weight: 600;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message {
  padding: var(--inline-spacing-larger) 1rem;
  color: var(--text-color);
  background: transparent;
}

.p-input-filled .p-dropdown {
  background: var(--surface-b);
}
.p-input-filled .p-dropdown:not(.p-disabled):hover {
  background-color: var(--surface-b);
}
.p-input-filled .p-dropdown:not(.p-disabled).p-focus {
  background-color: var(--surface-a);
}
.p-input-filled .p-dropdown:not(.p-disabled).p-focus .p-inputtext {
  background-color: transparent;
}
