.p-inputswitch {
  width: 3rem;
  height: 1.75rem;
}
.p-inputswitch .p-inputswitch-slider {
  background: var(--surface-300);
  transition: none;
  border-radius: 30px;
}
.p-inputswitch .p-inputswitch-slider:before {
  background: var(--surface-a);
  width: 1.25rem;
  height: 1.25rem;
  left: 0.25rem;
  margin-top: -0.625rem;
  border-radius: 50%;
  transition-duration: 0.2s;
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
  transform: translateX(1.25rem);
}
.p-inputswitch.p-focus .p-inputswitch-slider {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px var(--indigo-500);
}
.p-inputswitch:not(.p-disabled):hover .p-inputswitch-slider {
  background: var(--surface-400);
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: var(--primary-color);
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
  background: var(--surface-a);
}
.p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider {
  background: var(--primary-color-hover);
}
.p-inputswitch.p-invalid {
  border-color: var(--red-100);
}
