.p-inputtext {
  font-size: 1rem;
  color: var(--text-color);
  background: var(--surface-a);
  padding: var(--inline-spacing-larger) var(--inline-spacing-larger);
  border: 1px solid var(--surface-300);
  transition: none;
  appearance: none;
  border-radius: var(--border-radius);
}
.p-inputtext:enabled:hover {
  border-color: var(--surface-300);
}
.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px transparent;
  border-color: var(--primary-color);
}
.p-inputtext.p-invalid.p-component {
  border-color: var(--red-100);
}
.p-inputtext.p-inputtext-sm {
  font-size: 0.875rem;
  padding: 0.65625rem 0.65625rem;
}
.p-inputtext.p-inputtext-lg {
  font-size: 1.25rem;
  padding: 0.9375rem 0.9375rem;
}

.p-float-label > label {
  left: var(--inline-spacing-larger);
  color: var(--text-color-secondary);
  transition-duration: 0.2s;
}

.p-float-label > .p-invalid + label {
  color: var(--red-100);
}

.p-input-icon-left > i:first-of-type {
  left: var(--inline-spacing-larger);
  color: var(--text-color-secondary);
}

.p-input-icon-left > .p-inputtext {
  padding-left: 2.5rem;
}

.p-input-icon-left.p-float-label > label {
  left: 2.5rem;
}

.p-input-icon-right > i:last-of-type {
  right: var(--inline-spacing-larger);
  color: var(--text-color-secondary);
}

.p-input-icon-right > .p-inputtext {
  padding-right: 2.5rem;
}

.p-input-filled .p-inputtext {
  background-color: var(--surface-b);
}
.p-input-filled .p-inputtext:enabled:hover {
  background-color: var(--surface-b);
}
.p-input-filled .p-inputtext:enabled:focus {
  background-color: var(--surface-a);
}

.p-inputtext-sm .p-inputtext {
  font-size: 0.875rem;
  padding: 0.65625rem 0.65625rem;
}

.p-inputtext-lg .p-inputtext {
  font-size: 1.25rem;
  padding: 0.9375rem 0.9375rem;
}
