.p-listbox {
  background: var(--surface-a);
  color: var(--text-color);
  border: 1px solid var(--surface-300);
  border-radius: var(--border-radius);
  transition: none;
}
.p-listbox .p-listbox-header {
  padding: var(--inline-spacing) var(--inline-spacing-larger);
  border-bottom: 0 none;
  color: var(--text-color);
  background: var(--surface-b);
  margin: 0;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}
.p-listbox .p-listbox-header .p-listbox-filter {
  padding-right: 1.75rem;
}
.p-listbox .p-listbox-header .p-listbox-filter-icon {
  right: var(--inline-spacing-larger);
  color: var(--text-color-secondary);
}
.p-listbox .p-listbox-list {
  padding: 0.25rem 0;
  outline: 0 none;
}
.p-listbox .p-listbox-list .p-listbox-item {
  margin: 0;
  padding: var(--inline-spacing-larger) 1rem;
  border: 0 none;
  color: var(--text-color);
  transition: none;
  border-radius: 0;
}
.p-listbox .p-listbox-list .p-listbox-item.p-highlight {
  color: var(--indigo-800);
  background: var(--gray-200);
}
.p-listbox .p-listbox-list .p-listbox-item-group {
  margin: 0;
  padding: var(--inline-spacing-larger) 1rem;
  color: var(--text-color);
  background: var(--surface-a);
  font-weight: 600;
}
.p-listbox .p-listbox-list .p-listbox-empty-message {
  padding: var(--inline-spacing-larger) 1rem;
  color: var(--text-color);
  background: transparent;
}
.p-listbox:not(.p-disabled) .p-listbox-item.p-highlight.p-focus {
  background: var(--surface-200);
}
.p-listbox:not(.p-disabled) .p-listbox-item:not(.p-highlight):not(.p-disabled).p-focus {
  color: var(--surface-900);
  background: var(--surface-d);
}
.p-listbox:not(.p-disabled) .p-listbox-item:not(.p-highlight):not(.p-disabled):hover {
  color: var(--surface-900);
  background: var(--surface-c);
}
.p-listbox.p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px var(--indigo-500);
  border-color: var(--primary-color);
}
.p-listbox.p-invalid {
  border-color: var(--red-100);
}
