.p-multiselect {
  background: var(--surface-a);
  border: 1px solid var(--surface-300);
  transition: none;
  border-radius: var(--border-radius);
}
.p-multiselect:not(.p-disabled):hover {
  border-color: var(--surface-300);
}
.p-multiselect:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px var(--indigo-500);
  border-color: var(--primary-color);
}
.p-multiselect .p-multiselect-label {
  padding: var(--inline-spacing-larger) var(--inline-spacing-larger);
  transition: none;
}
.p-multiselect .p-multiselect-label.p-placeholder {
  color: var(--text-color-secondary);
}

.p-multiselect .p-multiselect-trigger {
  background: transparent;
  color: var(--text-color-secondary);
  width: 3rem;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.p-multiselect.p-invalid.p-component {
  border-color: var(--red-100);
}

.p-multiselect-panel {
  background: var(--surface-a);
  color: var(--text-color);
  border: 0 none;
  border-radius: var(--border-radius);
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.p-multiselect-panel .p-multiselect-header {
  padding: var(--inline-spacing) var(--inline-spacing-larger);
  border-bottom: 0 none;
  color: var(--text-color);
  background: var(--surface-b);
  margin: 0;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}
.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-inputtext {
  padding-right: 1.75rem;
}
.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-multiselect-filter-icon {
  right: var(--inline-spacing-larger);
  color: var(--text-color-secondary);
}
.p-multiselect-panel .p-multiselect-header .p-multiselect-close {
  margin-left: var(--inline-spacing);
  width: 2rem;
  height: 2rem;
  color: var(--text-color-secondary);
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition: none;
}
.p-multiselect-panel .p-multiselect-header .p-multiselect-close:enabled:hover {
  color: var(--surface-900);
  border-color: transparent;
  background: var(--surface-c);
}
.p-multiselect-panel .p-multiselect-header .p-multiselect-close:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px var(--indigo-500);
}
.p-multiselect-panel .p-multiselect-items {
  padding: 0.25rem 0;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
  margin: 0;
  padding: var(--inline-spacing-larger) 1rem;
  border: 0 none;
  color: var(--text-color);
  background: transparent;
  transition: none;
  border-radius: 0;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  color: var(--indigo-800);
  background: var(--gray-200);
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight.p-focus {
  background: var(--surface-200);
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled).p-focus {
  color: var(--surface-900);
  background: var(--surface-d);
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled):hover {
  color: var(--surface-900);
  background: var(--surface-c);
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item-group {
  margin: 0;
  padding: var(--inline-spacing-larger) 1rem;
  color: var(--text-color);
  background: var(--surface-a);
  font-weight: 600;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-empty-message {
  padding: var(--inline-spacing-larger) 1rem;
  color: var(--text-color);
  background: transparent;
}

.p-input-filled .p-multiselect {
  background: var(--surface-b);
}
.p-input-filled .p-multiselect:not(.p-disabled):hover {
  background-color: var(--surface-b);
}
.p-input-filled .p-multiselect:not(.p-disabled).p-focus {
  background-color: var(--surface-a);
}
