.p-password.p-invalid.p-component > .p-inputtext {
  border-color: var(--red-100);
}

.p-password-panel {
  padding: 1.25rem;
  background: var(--surface-a);
  color: var(--text-color);
  border: 0 none;
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: var(--border-radius);
}
.p-password-panel .p-password-meter {
  margin-bottom: var(--inline-spacing);
  background: var(--surface-d);
}
.p-password-panel .p-password-meter .p-password-strength.weak {
  background: var(--red-500);
}
.p-password-panel .p-password-meter .p-password-strength.medium {
  background: var(--bright-yellow);
}
.p-password-panel .p-password-meter .p-password-strength.strong {
  background: var(--bright-green);
}
