.p-rating {
  gap: var(--inline-spacing);
}
.p-rating .p-rating-item .p-rating-icon {
  color: var(--text-color);
  transition: none;
  font-size: 1.143rem;
}
.p-rating .p-rating-item .p-rating-icon.p-rating-cancel {
  color: var(--red-500);
}
.p-rating .p-rating-item.p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px var(--indigo-500);
  border-color: var(--primary-color);
}
.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
  color: var(--primary-color);
}
.p-rating:not(.p-disabled):not(.p-readonly) .p-rating-item:hover .p-rating-icon {
  color: var(--primary-color);
}
.p-rating:not(.p-disabled):not(.p-readonly) .p-rating-item:hover .p-rating-icon.p-rating-cancel {
  color: var(--bright-red);
}
