.p-selectbutton .p-button {
  background: var(--surface-a);
  border: 1px solid var(--surface-300);
  color: var(--text-color);
  transition: none;
}
.p-selectbutton .p-button .p-button-icon-left,
.p-selectbutton .p-button .p-button-icon-right {
  color: var(--text-color-secondary);
}
.p-selectbutton .p-button:not(.p-disabled):not(.p-highlight):hover {
  background: var(--surface-c);
  border-color: var(--surface-300);
  color: var(--text-color);
}
.p-selectbutton .p-button:not(.p-disabled):not(.p-highlight):hover .p-button-icon-left,
.p-selectbutton .p-button:not(.p-disabled):not(.p-highlight):hover .p-button-icon-right {
  color: var(--text-color-secondary);
}
.p-selectbutton .p-button.p-highlight {
  background: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--surface-a);
}
.p-selectbutton .p-button.p-highlight .p-button-icon-left,
.p-selectbutton .p-button.p-highlight .p-button-icon-right {
  color: var(--surface-a);
}
.p-selectbutton .p-button.p-highlight:hover {
  background: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
  color: var(--surface-a);
}
.p-selectbutton .p-button.p-highlight:hover .p-button-icon-left,
.p-selectbutton .p-button.p-highlight:hover .p-button-icon-right {
  color: var(--surface-a);
}
.p-selectbutton.p-invalid > .p-button {
  border-color: var(--red-100);
}

.select-button .p-button {
  margin: 0px;
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
}
.select-button .p-button:last-of-type:not(:only-of-type) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.select-button .p-button:first-of-type:not(:only-of-type) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
