.sidebar-container {
	margin-bottom: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.sidebar-info {
	border: 1px solid var(--surface-c);
	border-radius: 5px;
	background-color: var(--surface-b);
	padding: 1rem;
	list-style: none;
	margin: 0;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	gap: .25rem;
	
	.sidebar-title {
		border-bottom: 1px solid var(--surface-c);
		padding-bottom: .5rem;
		margin-bottom: 1rem;
	}

}
