#games {
  .p-tabview {
    *[data-game-status='complete'] {
      color: var(--green-600);
    }

    *[data-game-status='incomplete'] {
      color: var(--red-600);
    }
  }

  .p-tabview-panels {
    padding: 0;
  }

  .roar-tabview-game {
    --contentWidth: 52%; //set variable for width of content (title, text, footer)

    display: inline-flex;
    border-left: 1px solid var(--surface-d);
    border-right: 1px solid var(--surface-d);
    border-bottom: 1px solid var(--surface-d);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    justify-content: space-between;

    .roar-game-content {
      padding-top: 1rem;
      display: flex;
      flex-direction: column;

      > *:not(.roar-game-footer) {
        margin-inline: 2rem;
      }
    }

    .roar-game-title {
      font-size: clamp(1.5rem, 2vw, 3.25rem);
      padding-bottom: 1rem;
      margin-bottom: 0.5rem;
      border-bottom: 1px dotted var(--surface-d);
    }

    .roar-game-description {
      color: var(--text-color);
      font-size: 1rem;
      line-height: 1.5;

      p {
        font-size: inherit;
      }
    }

    .roar-game-meta {
      padding-block: 0.5rem 1rem;
      padding-bottom: 2rem;
      display: inline-flex;
      gap: 1rem;

      .p-tag {
        font-size: 0.65rem;
        padding-inline: 0.5rem;
        color: var(--surface-400);
        background: transparent;
        border: 1px solid var(--surface-300);
        border-radius: 5px;
      }
    }

    .roar-game-footer {
      padding-block: 1rem;
      padding-inline: 2rem;
      border-top: 1px solid var(--surface-d);
      border-bottom-left-radius: 4px;
      display: inline-flex;
      align-items: center;
      width: 100%;
      gap: 1rem;
      margin-top: auto;

      svg {
        height: 2rem;
        width: 2rem;
      }
    }

    .roar-game-image {
      width: calc(100% - var(--contentWidth)); //set width based on remaining avail space

      img {
        width: 100%;
        height: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
      }
    }

    a {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-bottom-right-radius: 4px;
    }

    // HOVER
    &:hover {
      color: var(--primary-color);
      // background-color: var(--surface-b);

      .roar-game-footer {
        background: var(--primary-color);
        color: var(--surface-a);

        svg {
          rect {
            fill: var(--surface-a);
          }
          path {
            fill: var(--primary-color);
          }
        }
      }
    }
  }

  // Mobile
  @media screen and (max-width: 1100px) {
    .roar-tabview-game {
      flex-direction: row;
      .roar-game-content {
        width: 350px;
      }

      .roar-game-image {
        width: 350px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .roar-tabview-game {
      flex-direction: row;
      .roar-game-content {
        width: 250px;
      }
      .roar-game-description {
        font-size: 1rem;
      }

      .roar-game-image {
        width: 350px;
      }
    }
  }
}
