.p-tabview {
  .p-tabview-nav {
    background: transparent;
    background: var(--surface-b);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid var(--surface-d);
    border-inline-color: var(--surface-d);

    .p-tabview-header {
      .p-tabview-nav-link {
        border-block: 0;
        background: transparent;
        filter: grayscale(45%);
        display: flex;
        border: 1px solid var(--surface-d);
        border-radius: 0px;

        &:hover {
          border-inline-color: var(--surface-d);
        }
      }

      &:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
        border-color: var(--surface-d);
        background: var(--surface-c);
      }

      &.p-highlight .p-tabview-nav-link {
        border-top-color: transparent;
        border-inline-color: var(--surface-d);
        filter: grayscale(0%);

        *[data-game-status='incomplete'] {
          color: var(--text-color-secondary);
        }
      }

      &:first-child .p-tabview-nav-link {
        border-left: 0;
      }
    }

    li .p-tabview-nav-link:not(.p-disabled):focus {
      box-shadow: inset 0 0 0 1px var(--primary-color);
      box-shadow: none;
      box-shadow:
        0 0 10px 2px rgba(0, 0, 0, 0.2),
        0 10px 2px 0 rgba(0, 0, 0, 0.2);
    }
  }

  @media screen and (max-width: 1100px) {
    .p-tabview-nav {
      display: inline-flex;
      white-space: nowrap;
    }
  }
}

.p-tabview-nav-content {
  display: flex;
}
