.p-togglebutton.p-button {
  background: var(--surface-a);
  border: 1px solid var(--surface-300);
  color: var(--text-color);
  transition: none;
}
.p-togglebutton.p-button .p-button-icon-left,
.p-togglebutton.p-button .p-button-icon-right {
  color: var(--text-color-secondary);
}
.p-togglebutton.p-button:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px var(--indigo-500);
  border-color: var(--primary-color);
}
.p-togglebutton.p-button:not(.p-disabled):not(.p-highlight):hover {
  background: var(--surface-c);
  border-color: var(--surface-300);
  color: var(--text-color);
}
.p-togglebutton.p-button:not(.p-disabled):not(.p-highlight):hover .p-button-icon-left,
.p-togglebutton.p-button:not(.p-disabled):not(.p-highlight):hover .p-button-icon-right {
  color: var(--text-color-secondary);
}
.p-togglebutton.p-button.p-highlight {
  background: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--surface-a);
}
.p-togglebutton.p-button.p-highlight .p-button-icon-left,
.p-togglebutton.p-button.p-highlight .p-button-icon-right {
  color: var(--surface-a);
}
.p-togglebutton.p-button.p-highlight:hover {
  background: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
  color: var(--surface-a);
}
.p-togglebutton.p-button.p-highlight:hover .p-button-icon-left,
.p-togglebutton.p-button.p-highlight:hover .p-button-icon-right {
  color: var(--surface-a);
}
.p-togglebutton.p-button.p-invalid > .p-button {
  border-color: var(--red-100);
}
