.roav-not-visible {
  visibility: hidden;
}

.roav-muted-10 {
  opacity: 0.1;
}

.roav-muted-20 {
  opacity: 0.1;
}

.roav-muted-30 {
  opacity: 0.3;
}

.roav-muted-40 {
  opacity: 0.3;
}

.roav-mute-50 {
  opacity: 0.5;
}
