$text-yellow: rgb(255, 202, 97);
$roav-blue: rgb(76, 101, 139);
$roav-blue-dark: rgb(65, 91, 127);
$roav-yellow: rgb(255, 200, 12);
$roav-bg-card-stand: rgb(250, 246, 236);
$roav-bg-card-game: rgb(255, 255, 255);

$roav-glow-attention-neutral: rgba(0, 0, 0, 0.1);
$roav-glow-attention: rgb(255, 210, 0);
$roav-glow-attention-strong: rgb(255, 210, 0); // rgb(230, 255, 0);

$roav-clr-same: #00cc00;
$roav-clr-diff: #ff0000;
