# Cypress Environment Variables
SUPER_ADMIN_USERNAME='your-super-admin-username'
SUPER_ADMIN_PASSWORD='your-super-admin-password'
SUPER_ADMIN_EMAIL='your-super-admin-email'
SUPER_ADMIN_ID='your-super-admin-id'


# Firebase App Check Tokens
APPCHECK_DEBUG_TOKEN='your-firebase-app-check-debug-token'