# Cypress Environment Variables
CLEVER_USERNAME='your-clever-username'
CLEVER_PASSWORD='your-clever-password'
SUPER_ADMIN_USERNAME='your-super-admin-username'
SUPER_ADMIN_PASSWORD='your-super-admin-password'
SUPER_ADMIN_ID='your-super-admin-id'
PARTNER_ADMIN_USERNAME='your-partner-admin-username'
PARTNER_ADMIN_PASSWORD='your-partner-admin-password'
PARTNER_ADMIN_ID='your-partner-admin-id'
PARTICIPANT_USERNAME='your-participant-username'
PARTICIPANT_PASSWORD='your-participant-password'
PARTICIPANT_UID='your-participant-uid'
PARTICIPANT_EMAIL='your-participant-email'
PARTICIPANT_EMAIL_PASSWORD='your-participant-email-password'

# Parent information for testing
PARENT_FIRST_NAME='your-parent-first-name'
PARENT_LAST_NAME='your-parent-last-name'
PARENT_EMAIL='your-parent-email'
PARENT_PASSWORD='your-parent-password'

# Firebase App Check Tokens
VITE_APPCHECK_DEBUG_TOKEN='your-firebase-app-check-debug-token'
