# App Check Debug Tokens
VITE_APPCHECK_DEBUG_TOKEN='your-app-check-debug-token'

# Auth Session Timeout (Optional)
# Control the session timeout limit and countdown duration before a user is signed out due to inactivity.
VITE_AUTH_SESSION_TIMEOUT_IDLE_THRESHOLD=900000# 15 minutes in milliseconds
VITE_AUTH_SESSION_TIMEOUT_COUNTDOWN_DURATION=60000# 1 minute in milliseconds

