# Logs
*.log

# Cache
.turbo
.vite
.cache

# Dependencies
node_modules

# Build Outputs
dist

# Local SSL Certificates
certs

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env
.env*
!.env.example
!.env.test.example

# Test coverage
coverage

# Other
.DS_Store