* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}

// Sentry feedback widget
#sentry-feedback {
  display: flex;
  justify-content: flex-start;
  --border: 1px solid var(--primary-color);
  --background-hover: var(--red-100);
  --submit-border: var(--primary-color);
  --submit-background: var(--primary-color);
  --submit-background-hover: var(--primary-color-hover);
  --cancel-background-hover: var(--red-100);
}

// Placeholder
::-webkit-input-placeholder {
  color: var(--text-color-secondary);
}

:-moz-placeholder {
  color: var(--text-color-secondary);
}

::-moz-placeholder {
  color: var(--text-color-secondary);
}

:-ms-input-placeholder {
  color: var(--text-color-secondary);
}

.admin-page-header {
  font-size: 1.5rem;
  color: #52525b;
  font-weight: bold;
  
  @media (max-width: 1024px) {
    font-size: 1.35rem;
  }
}
