* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Placeholder
::-webkit-input-placeholder {
  color: var(--text-color-secondary);
}

:-moz-placeholder {
  color: var(--text-color-secondary);
}

::-moz-placeholder {
  color: var(--text-color-secondary);
}

:-ms-input-placeholder {
  color: var(--text-color-secondary);
}