.turn {
  width: 240px;
  height: 240px;
  animation: rotateOnce 4s infinite;
}

@keyframes rotateOnce {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.pulse {
  width: 200px;
  height: 200px;
  animation: pulse 2s infinite;

  &:hover {
    cursor: pointer;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
