body.page-register {
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  background: var(--primary-color);
}

#register-container {
  @extend #signin-container;

  .register-title {
    text-align: center;
    margin-bottom: 2rem;
  }
}

#register {
  @extend #signin;

  > div {
    width: 100%;
  }

  form {
    width: 100%;
    padding-inline: 2rem;
  }

  .form-section {
    margin-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;

    label {
      margin-block: 0.5rem;
      display: inline-block;
    }

    > div {
      width: calc(50% - 1rem);
      margin-bottom: 0.5rem;

      &:only-of-type {
        width: 100%;
      }
    }

    small {
      width: 100%;
    }
  }

  .form-submit {
    margin-top: 2rem;
  }
}
