body.page-signin #main {
	padding: 0;
	max-width: 100vw;
	min-height: 100vh;
	background: var(--primary-color);
}

#signin-container {
	display: flex;
	align-content: center;
	justify-content: center;
	// min-height: 100vh;
	width: 100vw;
	padding-block: 2rem;
	margin-top: auto;
	margin-bottom: auto;
}

#signin {
	background: var(--surface-a);
	width: clamp(500px, 75vw, 720px);
	height: auto;
	padding: 1rem 0rem 0rem;
	margin-bottom: auto;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	
	header {
		text-align: center;
		width: 100%;
		
		.signin-logo {
			width: 100%;
			border-bottom: 1px solid var(--surface-d);
			padding-block: 1rem;
		}
		
		p {
			max-width: 30ch;
			margin-inline: auto;
		}
	}
	
	footer {
		width: 100%;
		text-align: center;
		border-top: 1px solid var(--surface-d);
		margin-top: 2rem;
		padding-top: 1rem;
		padding-bottom: 2rem;
		
		a {
			text-decoration: none;
			color: var(--gray-300);
			
			&:hover {
				color: var(--primary-color);
			}
		}
	}
	
	.signin-option-container {
		min-width: 200px;
		
		.signin-option-title {
			margin-bottom: 2rem;
		}
	}
	
	.signin-option-userpass {
		width: calc(50% - 3rem);
		padding-right: 1rem;
	}
	
	.signin-option-providers {
		width: calc(50% - 2rem);
		display: flex;
		flex-direction: column;
		gap: 0;
		border-left: 1px solid var(--surface-d);
		padding-left: 2rem;
		
		.signin-button {
			margin-bottom: 1rem;
		}
	}
}

.signin-button {
	background: var(--surface-a);
	border: 1px solid var(--surface-d);
	border-radius: 5rem;
	color: var(--text-color);
	padding-inline: 1rem;
	
	img {
		margin-right: 1rem;
	}
	
	&:enabled:hover {
		background: var(--surface-b);
		border-color: var(--primary-color);
		color: var(--primary-color);
	}
}

// .signin-container {
// 	border-style: solid;
// 	border-width: 1px;
// 	border-radius: 5px;
// 	border-color: #E5E5E5;
// 	background-color: #FCFCFC;
// 	width: 26.875rem;
// 	padding-right: 1.5rem;
// 	padding-left: 1.5rem;
// 	margin-top: 6.5rem;
// 	position: relative;
// 	  
// 	.contact-text {
// 		padding-top: 2.75rem;
// 		padding-bottom: 2rem;
// 		text-align: left;
// 	}
// 	
// 	.button-container {
// 		display: flex;
// 		gap: 1.125rem;
// 		justify-content: center;
// 		margin-bottom: 6.5rem;
// 	}
// 	
// 	.signin-button {
// 		background-color: #E5E5E5;
// 		border-color: #C4C4C4;
// 		color: black;
// 		width: 8rem;
// 	}
// 	
// 	.signin-button:hover {
// 		background-color: #b7b5b5;
// 		border-color: black;
// 		color: black;
// 	}
// 	
// 	.text-btn {
// 		border: none;
// 		background-color: inherit;
// 		cursor: pointer;
// 		display: inline-block;
// 		font-size: 16px;
// 		color: #2c3e50;
// 	}
// 
// }