@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.scss';

@import './assets/styles/theme-tailwind.css';
@import './assets/styles/theme.scss';

/* Base */
p {
  line-height: 1.25rem;
}

/* Tailwind CSS classes */
/* @TODO: Remove once yeatmanlab/roar-project-management/issues/321 is resolved */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}

legend {
  padding: 0;
  padding-inline: 0;
}

.grow {
  flex-grow: 1;
}

.grow-2 {
  flex-grow: 2;
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.justify-between {
  justify-content: space-between;
}

@media (min-width: 768px) {
  .md\:justify-between {
    justify-content: space-between;
  }
}

.border {
  border-width: 1px;
}

.rounded {
  border-radius: 0.25rem;
}

.mb-0 {
  margin-bottom: 0;
  margin-block-end: 0;
}

.mt-0 {
  margin-top: 0;
  margin-block-start: 0;
}

.max-w-xs {
  max-width: 20rem;
}

.min-w-32 {
  min-width: 8rem;
}

.w-32 {
  width: 8rem;
}

.w-128 {
  width: 32rem;
}

.w-1\/4 {
  width: 25%;
}

.leading-5 {
  line-height: 1.25rem;
}

.leading-6 {
  line-height: 1.5rem;
}

.leading-7 {
  line-height: 1.75rem;
}

.bg-transparent {
  background-color: transparent;
}

.text-end {
  text-align: end;
}

.text-md {
  font-size: 1.125rem;
}

.border-t {
  border-top-width: 1px;
  border-top-style: solid;
}

.border-collapse {
  border-collapse: collapse;
}

.list-inside {
  list-style-position: outside;
}

.columns-2 {
  columns: 2;
}

@media (min-width: 768px) {
  .md\:columns-2 {
    columns: 2;
  }
}

.float-right {
  float: right;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media (min-width: 768px) {
  .md\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .lg\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .xl\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .xl\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .xl\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1536px) {
  .\32xl\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .\32xl\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .\32xl\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .\32xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.break-inside-avoid-page {
  break-inside: avoid-page;
}

.break-before-page {
  break-before: page;
}
