$bg-button-primary: #275bdd;
$bg-button-primary-hover: #2051cb;
$bg-button-primary-clicked: #1d4ab9;
$bg-accent_secondary: #0f3cac;
$bg-button-secondary: #d4def8;
$bg-button-shadow: #e7ecf7;
$bg-green_dark: #5ba300;
$bg-green_base: #89ce00;
$bg-green-base-hover: #7ab800;
$bg-green-base-clicked: #70a800;
$bg-green-gradient: #cfebb6;
$bg-black_base: #010d18;
$btn-disabled-bg: #c0c0c0;
$btn-disabled-inset: #979797;
$bg-grey-light: #ededed;
$bg-bubble-base: #ffffff;
$bg-white-30: #ffffff4d;
$bg-white-40: #ffffff66;
$bg-white-70: #ffffffb3;
$bg-white-80: #ffffffcc;
$bg-orange_base: #ffa063;
$bg-yellow_base: #ffe8ac;
$bg-red_base: #ff5757;
$bg-purple_base: #b285c5;
$bg-workspace-base: #d7e3fd;

$txt-primary: #275bdd;
$txt-secondary: #0f3cac;
$txt-white: #fbfbfd;

$border-grey: #bdbdbd;
$border-button-accent: #0f3cac;
$border-button-primary-hover: #0d3496;
$border-button-primary-clicked: #0b2e83;
$border-button-green-hover: #4d8a00;
$border-button-green-clicked: #539400;
$border-button-secondary: #a0bbff;
$border-green_dark: #5ba300;
$border-accent: #275bdd;
$border-purple_dark: #813a9f;
$border-orange_dark: #e3630a;
$border-yellow_dark: #ffc839;
$border-red_dark: #930b0b;
