node_modules
dist
**/.Rhistory
**/.Rproj.user
**/.ipynb_checkpoints
.idea
.DS_Store.firebase/*.cache
**/.DS_Store
lib/
.env
.vite/
/blob-report/
# Sentry Config File
.env.sentry-build-plugin