# |------------------------------------------------------------------------------------------------------------------- #
# | Environment Configuration
# | 
# | This file contains the list of environment variables supported by the application. The variables that are mandatory
# | for the application to run are marked as (required). The variables that are optional are marked as (optional).
# |
# | Important: this file serves a source of truth for the environment variables that the application supports and should
# | be updated when variables are added, removed, or changed.  
# |------------------------------------------------------------------------------------------------------------------- #


# -------------------------------------------------------------------------------------------------------------------- #
# ROAR Firekit Configuration
# -------------------------------------------------------------------------------------------------------------------- #
# Project ID (required)
VITE_FIREBASE_ADMIN_PROJECT_ID=
VITE_FIREBASE_APP_PROJECT_ID=

# API Key (required)
VITE_FIREBASE_ADMIN_API_KEY=
VITE_FIREBASE_APP_API_KEY=

# Auth Domain (required)
VITE_FIREBASE_ADMIN_AUTH_DOMAIN=
VITE_FIREBASE_APP_AUTH_DOMAIN=

# Storage Bucket (required)
VITE_FIREBASE_ADMIN_STORAGE_BUCKET=
VITE_FIREBASE_APP_STORAGE_BUCKET=

# Cloud Messaging Sender ID (required)
VITE_FIREBASE_ADMIN_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_MESSAGING_SENDER_ID=

# App ID (required)
VITE_FIREBASE_ADMIN_APP_ID=
VITE_FIREBASE_APP_APP_ID=

# App Check (optional)
VITE_FIREKIT_ADMIN_RECAPTCHA_SITE_KEY=
VITE_FIREKIT_APP_RECAPTCHA_SITE_KEY=
VITE_FIREKIT_APPCHECK_DEBUG_TOKEN=

# Google Analytics Measurement ID (optional)
VITE_ANALYTICS_ADMIN_MEASUREMENT_ID=

# Firekit Logging Level (optional)
VITE_FIREKIT_VERBOSE_LOGGING_ENABLED=false


# -------------------------------------------------------------------------------------------------------------------- #
# Application Configuration
# -------------------------------------------------------------------------------------------------------------------- #

# Auth Session Timeout (optional)
# Control the session timeout limit and countdown duration before a user is signed out due to inactivity.
VITE_AUTH_SESSION_TIMEOUT_IDLE_THRESHOLD="900000" 
VITE_AUTH_SESSION_TIMEOUT_COUNTDOWN_DURATION="60000"