/*// ****************************************/
/*// | Use this file to import shared styles for  |*/
/*// | both the main app and testing.              |*/
/*// ***************************************/

@import './assets/styles/primeicons.css';
@import 'primeflex/primeflex.scss';

@import './assets/styles/theme-tailwind.css';
@import './assets/styles/theme.scss';
