@import 'primeicons/primeicons.css';

@font-face {
  font-family: 'primeicons';
  font-display: block;
  src: url('/fonts/primeicons.eot');
  src:
    url('/fonts/primeicons.eot?#iefix') format('embedded-opentype'),
    url('/fonts/primeicons.woff2') format('woff2'),
    url('/fonts/primeicons.woff') format('woff'),
    url('/fonts/primeicons.ttf') format('truetype'),
    url('/fonts/primeicons.svg?#primeicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
