button.p-button.p-component.p-button-icon-only.p-button-secondary.p-button-rounded.p-button-text.p-datatable-row-editor-save:hover,
button.p-button.p-component.p-button-icon-only.p-button-secondary.p-button-rounded.p-button-text.p-datatable-row-editor-cancel:hover,
button.p-button.p-component.p-button-icon-only.p-button-secondary.p-button-rounded.p-button-sm:hover {
  background: var(--surface-400) !important;
}
button.p-button.p-component.p-button-icon-only.p-button-secondary.p-button-rounded.p-button-text.p-datatable-row-editor-save,
button.p-button.p-component.p-button-icon-only.p-button-secondary.p-button-rounded.p-button-text.p-datatable-row-editor-cancel,
button.p-button.p-component.p-button-icon-only.p-button-secondary.p-button-rounded.p-button-sm,
button.p-button.p-component.p-button-icon-only.p-button-secondary.p-button-rounded.p-button-text.p-dialog-close-button {
  background: var(--primary-color) !important;
  color: white;
  margin-left: 3px !important;
}
input.p-inputtext.p-component.p-password-input {
  width: 100%;
}
.p-datatable.p-datatable-gridlines:has(.p-datatable-thead):has(.p-datatable-tbody) .p-datatable-tbody > tr > td {
  text-align: center;
}
