name: Preview Deploy
on:
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:
    inputs:
      pr_branch:
        description: 'Checkout this branch from the LEVANTE repository and execute CI/CD tests on it.'
        required: true

concurrency:
  group: ci-preview-tests-${{ github.ref }}-1
  cancel-in-progress: true

permissions:
  contents: read
  checks: write
  deployments: write
  pull-requests: write
  statuses: write

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      # For workflows triggered by pull requests
      - name: Checkout PR code
        if: github.event_name == 'pull_request'
        uses: actions/checkout@v4

      # For workflows triggered manually, targeting the LEVANTE dashboard repository specifically
      - name: Checkout manual trigger code
        if: github.event_name == 'workflow_dispatch'
        uses: actions/checkout@v4
        with:
          repository: levante-framework/levante-dashboard
          ref: ${{ github.event.inputs.pr_branch }}
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          cache-dependency-path: 'package-lock.json'

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

      - name: Update PR status
        if: github.event_name == 'pull_request'
        uses: ouzi-dev/commit-status-updater@v2
        with:
          name: 'Tests'
          status: ${{ job.status }}

  build-and-preview:
    name: Deploy Preview
    needs: test
    runs-on: ubuntu-latest

    steps:
      # For workflows triggered by pull requests
      - name: Checkout PR code
        if: github.event_name == 'pull_request'
        uses: actions/checkout@v4

      # For workflows triggered manually, targeting the LEVANTE dashboard repository specifically
      - name: Checkout manual trigger code
        if: github.event_name == 'workflow_dispatch'
        uses: actions/checkout@v4
        with:
          repository: levante-framework/levante-dashboard
          ref: ${{ github.event.inputs.pr_branch }}
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          cache-dependency-path: 'package-lock.json'

      - name: Build (ROAR)
        if: ${{ contains(github.repository, 'roar') }}
        run: npm ci && npm run build

      - name: Build (LEVANTE)
        if: ${{ contains(github.repository, 'levante') }}
        run: npm ci && npm run build:dev

      - name: Deploy to Firebase Hosting Channel
        id: firebase-deploy
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          firebaseToolsVersion: v13.3.1 # <- Locking version because the newest (13.13.0) does not add the deploy URL to auth whitelist
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_DEV_ADMIN }}'
          projectId: '${{ secrets.FIREBASE_PROJECT }}'
          target: ${{ contains(github.repository, 'levante') && 'production' || 'staging' }}

      - name: Output Deploy URL
        run: echo ${{ fromJson(steps.firebase-deploy.outputs.urls)[0] }}

    outputs:
      deployUrl: ${{ fromJson(steps.firebase-deploy.outputs.urls)[0] }}
