name: Preview Deploy
on:
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:
    inputs:
      pr_branch:
        description: 'Checkout this branch from the LEVANTE repository and execute CI/CD tests on it.'
        required: true

concurrency:
  group: ci-preview-tests-${{ github.ref }}-1
  cancel-in-progress: true

permissions:
  contents: read
  checks: write
  deployments: write
  pull-requests: write

jobs:
  build-and-preview:
    name: Deploy Preview
    runs-on: ubuntu-latest

    steps:
      # For workflows triggered by pull requests
      - name: Checkout PR code
        if: github.event_name == 'pull_request'
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}

      # For workflows triggered manually, targeting the LEVANTE dashboard repository specifically
      - name: Checkout manual trigger code
        if: github.event_name == 'workflow_dispatch'
        uses: actions/checkout@v4
        with:
          repository: levante-framework/levante-dashboard
          ref: ${{ github.event.inputs.pr_branch }}
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          # Checkout the PR branch from the PR repository if the PR is from a fork, otherwise checkout the PR branch from the main repository
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
          # Use the branch from the PR if workflow is triggered manually, otherwise use the PR branch from the event
          ref: ${{ github.event.inputs.pr_branch || github.event.pull_request.head.ref }}
      - name: Build (ROAR)
        if: ${{ contains(github.repository, 'roar') }}
        run: npm ci && npm run build
      - name: Build (LEVANTE)
        if: ${{ contains(github.repository, 'levante') }}
        run: npm ci && npm run build:levante-dev
      - name: Deploy to Firebase Hosting Channel
        id: firebase-deploy
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          firebaseToolsVersion: v13.3.1 # <- Locking version because the newest (13.13.0) does not add the deploy URL to auth whitelist
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_DEV_ADMIN }}'
          projectId: '${{ secrets.FIREBASE_PROJECT }}'
          target: ${{ contains(github.repository, 'levante') && 'production' || 'staging' }}
      - run: echo ${{ fromJson(steps.firebase-deploy.outputs.urls)[0] }}

    outputs:
      deployUrl: ${{ steps.set-deploy-url.outputs.deployUrl }}

  whitelist-pr-domains-roar-admin:
    name: Whitelist PR Domains on Firebase App Check for gse-roar-admin
    runs-on: ubuntu-latest
    needs: build-and-preview

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate with Google Cloud SDK
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_GSE_ROAR_ADMIN }}

      - name: Set up Google Cloud SDK with Firebase Service Account
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: gse-roar-admin

      - name: Update App Check Domains for gse-roar-admin
        run: |
          CURRENT_DOMAINS=$(gcloud recaptcha keys describe ${{ secrets.FIREBASE_APPCHECK_SITE_KEY_GSE_ROAR_ADMIN }} --format="value(webSettings.allowedDomains)" | tr ';' '\n')
          NEW_DOMAIN=$(echo ${{ needs.build-and-preview.outputs.deployUrl }} | sed 's|https://||')
          ALL_DOMAINS=$(echo -e "${CURRENT_DOMAINS}\n${NEW_DOMAIN}")
          UPDATED_DOMAINS=$(echo "$ALL_DOMAINS" | sort | uniq | paste -sd ',' -)
          gcloud recaptcha keys update ${{ secrets.FIREBASE_APPCHECK_SITE_KEY_GSE_ROAR_ADMIN }} --domains="$UPDATED_DOMAINS" --web

  whitelist-pr-domains-roar-assessment:
    name: Whitelist PR Domains on Firebase App Check for gse-roar-assessment
    runs-on: ubuntu-latest
    needs: build-and-preview

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate with Google Cloud SDK
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_GSE_ROAR_ASSESSMENT }}

      - name: Set up Google Cloud SDK for gse-roar-assessment
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: gse-roar-assessment

      - name: Update App Check Domains for gse-roar-assessment
        run: |
          CURRENT_DOMAINS=$(gcloud recaptcha keys describe ${{ secrets.FIREBASE_APPCHECK_SITE_KEY_GSE_ROAR_ASSESSMENT }} --format="value(webSettings.allowedDomains)" | tr ';' '\n')
          NEW_DOMAIN=$(echo ${{ needs.build-and-preview.outputs.deployUrl }} | sed 's|https://||')
          ALL_DOMAINS=$(echo -e "${CURRENT_DOMAINS}\n${NEW_DOMAIN}")
          UPDATED_DOMAINS=$(echo "$ALL_DOMAINS" | sort | uniq | paste -sd ',' -)
          gcloud recaptcha keys update ${{ secrets.FIREBASE_APPCHECK_SITE_KEY_GSE_ROAR_ASSESSMENT }} --domains="$UPDATED_DOMAINS" --web
